html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--primary);
  background-color: var(--secondary);
  font-family: 'Creepster', cursive;
}

:root {
  --black: #000;
  --light-yellow: #fff9a1;
  --dark-yellow: #fdea80;
  --light-red: #f87171;
  --dark-red: #ee4d4d;
  --white: #ffffff;
  --lighter-red: #fc8f8f;
  --darker-red: #f02a2a;


  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
  --primaryaccent: var(--light-yellow);
  --secondaryaccent: var(--dark-yellow);
  /* --buttonBacc: var(--) */
}

.cool {
  --primary: var(--light-yellow);
  --secondary: var(--dark-yellow);
  --primaryaccent: var(--light-red);
  --secondaryaccent: var(--dark-red);
}

h1 {
  font-size: var(--h1);
  color: var(--secondaryaccent);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  background-color: transparent;
}

.yo {
  color: white;
  background-color: #00305e;
  text-align: center;
  font-size: 25vh;
}

#cold {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40vh;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4d3ff;
  color: black;
  height: 40vh;
  margin-top: 10rem;
}

.tabs{
  text-align: center;
  height: 10rem;
  background-color: #a4d3ff;
  color:#00305e;
  font-size: var(--h1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home, .male, .female, .human, .alien{
  border: none;
  padding: auto, 20vw;
  transition: all 0.25s;
}

.home:hover,
.male:hover,
.female:hover,
.human:hover,
.alien:hover {
  transform: translateY(-2px);
  color: var(--white);
}

#picture{
  margin-top: 6rem;
  height: 40rem;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@keyframes picture {
  to {
    transform: scale(1.1);
  }
}

#picture:hover, #picture:focus, #picture:active, #picture {
  animation-name: picture;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flip-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  perspective: 1000px;
  margin: 2rem;
  height: 50rem;
  width: 40rem;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #a7cee9;
  color: #00305e;
}

.flip-card-back {
  background-color: #a7cee9;
  color:#00305e;
  justify-items: center;
  transform: rotateY(180deg);
}